#table_container {
    margin-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
}
th, td{
    text-align: right;
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 80%;
  }
}

body
{
    background: url(http://getwallpapers.com/wallpaper/full/3/4/9/9030.jpg);
    background-size: cover;
}


#table_container{
    }

.buttons{
    width: 100%;
    display: inline;
}

.prev1{
    cursor: pointer;
    width: 50%;
    float: left;
    padding-bottom: 10px;
}

.next1{
    cursor: pointer;
    width: 50%;
    float: left;
    text-align:right;
    padding-bottom: 10px;
}
.next, .prev{
    width: 100px;
}
.next:hover{
    color: yellow;
    font-weight: bold;
    border: 1px solid white;
}

.prev:hover{
    color: yellow;
    font-weight: bold;
    border: 1px solid white;
}
.loginButton{
    z-index: 1;
}

.modal-bg-kamil{
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 20vh;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    opacity: 0;
    -webkit-transition: 2s time;
    -moz-transition: 2s time;
    -ms-transition: 2s time;
    -o-transition: 2s time;
    transition: 2s time;
    overflow-y: initial !important
}

.modal-bg-kamil-active{
    z-index: 2;
    opacity: 1;
}

.kamilModal{
    position: relative;
    width: 90%;
    height: 90%;
    overflow-y: auto;

}

#modalClose{
    position: absolute;
    width: 30px;
    height: 30px;
    color: yellow;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modalForStats{
    top: 50%;
    width: 25%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 1);
}

#voteTable{
    top: 150px;
    margin-top: 30px;
}


