#table_container {
    margin-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
}
th, td{
    text-align: right;
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 80%;
  }
}

body
{
    background: url(http://getwallpapers.com/wallpaper/full/3/4/9/9030.jpg);
    background-size: cover;
}


#table_container{
    }

.buttons{
    width: 100%;
    display: inline;
}

.prev1{
    cursor: pointer;
    width: 50%;
    float: left;
    padding-bottom: 10px;
}

.next1{
    cursor: pointer;
    width: 50%;
    float: left;
    text-align:right;
    padding-bottom: 10px;
}
.next, .prev{
    width: 100px;
}
.next:hover{
    color: yellow;
    font-weight: bold;
    border: 1px solid white;
}

.prev:hover{
    color: yellow;
    font-weight: bold;
    border: 1px solid white;
}
