<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>API Wars</title>
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>


    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="static/login.css">
    <script src="/static/templates.js" defer></script>
    <script src="/static/script.js" defer></script>
    <link rel="shortcut icon" href="#" />

<nav class="navbar navbar-dark bg-dark " role="navigation">
    <div class="container">

        {% if session['logged_in'] %}
            <a class="navbar-brand" href="/">Planet List</a>
            <a id="statistic" class="navbar-brand">Statistic</a>
            <div class="form-inline">
                <a id="logedInA" class="navbar-brand" href="{{ url_for('logout') }}">Log out: <strong>{{session['username'].upper()}}</strong></a>
            </div>
        {% else %}
            <a class="navbar-brand" href="/">Planet List</a>
            <div class="form-inline">
                <a class="navbar-brand" href="{{ url_for('login') }}">Log in</a>
                <a class="navbar-brand" href="{{ url_for('register') }}">Registration</a>
            </div>
        {% endif %}


    </div>
</nav>


    <div id="table_container"class="container mw-100">

        {% block content %}
            <div id="table_container"class="container mw-100">
                {% block page_content %}

                {% endblock %}
            </div>
        {% endblock %}

    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
