{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Planet List</a>

{#        {% if session['logged_in'] %}#}
{#            <a class="navbar-brand" href="{{ url_for('logout') }}">Log out</a>#}
{#            <div class="nav navbar-nav navbar-right">#}
{#                <p class="navbar-text"><strong>Logged in as {{session['username']}}</strong></p>#}
{#            </div>#}
{#        {% else %}#}
{#            <a class="navbar-brand" href="{{ url_for('register') }}">Registration</a>#}
{#            <a class="navbar-brand" href="{{ url_for('login') }}">Log in</a>#}
{#        {% endif %}#}

    </div>
</nav>
{% endblock %}

{% block content %}
    <div id="table_container"class="container mw-100">
        {% block page_content %}

        {% endblock %}
    </div>
{% endblock %}
